<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>北京第零世界科技有限公司</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Link Swiper's CSS -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-table.min.css'%}">
    <!--2020.04.04全国抗击疫情哀悼日灰色背景-->
    <style>
        .gray{
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
            _filter: none;
        }
    </style>
    <!-- Demo styles -->
</head>
<body>

    <!--网页顶部导航块-->
    <div class="head_nav">
            <div class="logo"><img src="{% static 'img/logo.png' %}" alt="logo" height="100%"></div>
            <div class="title_link">
                <ul>
                    <li class="li"><a href="/home/index#index" class="active" id="index">首页</a></li>
                    <li class="li"><a href="/home/index#contact" id="contact">联系我们</a></li>
                    <li class="li"><a href="#" id="ugc">UGC中心</a></li>
                    <li class="li filling" onclick="download()"><a href="#" id="download">下载</a></li>
                </ul>
            </div>
        </div>

    <!--最外层body很重要，对footer的绝对定位有重要作用，不然footer没有参考-->
    <div id="body_con" class="body_con">
        <!--网页主题内容-->
        <div class="body_container">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-hash="index">
                        <div id="game_video" class="game_video">
                            <div id="video_content" class="video_content">
                            <video id="display_video" style="height:100%;width:100%;object-fit:fill" loop poster="{% static 'img/video_cover.jpg' %}">
                                <source src="show_video" type="video/mp4">
                                您的浏览器不支持video标签</video></div>
                            <div id="index_page_logo" class="index_page_logo"><img src="{% static 'img/logo.png' %}" alt="logo"></div>
                            <div id="download_right_now" class="download_right_now" onclick="download()">立即下载</div>
                            <div id="download_overflow" class="download_overflow">
                                <div id="download_close" class="download_close" onclick="download_close()">关闭</div>
                                <div class="download_way">
                                    <ul>
                                        <li>请选择下载方式</li>
                                        <li><a href="#"> 端游下载</a></li>
                                        <li><a href="#"> 安卓下载</a></li>
                                    </ul>
                                </div>
                            </div>
<!--                            <div id="download_close" class="download_close" onclick="download_close()">关闭</div>-->
                            <div id="play_pause" class="play_pause" onclick="playPause()"></div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="contact">
                        <div class="contact_box">
                            <img src="{% static 'img/ugc.png'%}" alt="ugc">
                            <img src="{% static 'img/taptap.png'%}" alt="taptap">
                            <img src="{% static 'img/4399.png'%}" alt="4399"><br>
                            <img src="{% static 'img/qq.png'%}" alt="qq">
                            <img src="{% static 'img/qq.png'%}" alt="qq">
                            <img src="{% static 'img/qq.png'%}" alt="qq">
                        </div>
                        <div id="download_overflow_2" class="download_overflow" style="left:0;">
                                <div id="download_close_2" class="download_close" onclick="download_close()">关闭</div>
                                <div class="download_way">
                                    <ul>
                                        <li>请选择下载方式</li>
                                        <li><a href="#"> 端游下载</a></li>
                                        <li><a href="#"> 安卓下载</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <!--页面底部滑入式页尾-->
            <div id="box_footer" class="box_footer">
                <footer id="footer" class="footer">
                    <div class="box">
                        <div class="content">
                            <p>
                                <a href="/home/supervisor" target="_blank">家长监护工程</a><span>|</span>
                                <a href="/home/dispute" target="_blank">纠纷处理</a>
                            </p>
                            <p><span>健康游戏忠告：抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防上当受骗，适度游戏益脑，沉迷游戏伤身，合理安排时间，享受健康生活</span></p>
                            <p><span>北京第零世界科技有限公司 地址：北京市朝阳区建国路15号院甲1号北岸1292三间房创意生活园区9-7291 电话：010-60607973</span></p>
                            <p><span>网络文化经营许可证：<a href="{% static 'img/licence.jpg' %}" target="_blank">
                                京网文[2019]3669-352</a>京ICP证：<a href="{% static 'img/credit.jpg' %}">京B2-20191828</a></span></p>
                            <p><span>京ICP备 19009550号 ©2019 北京第零世界科技有限公司 版权所有</span></p>

                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <div style="position:absolute;bottom:0;left:50%;"><img src="{% static 'img/PageDown.png'%}"></div>
    <div id="bg_img" class="bg_img active_img"></div>
    <!-- Swiper JS -->
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/swiper-nav-page.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/public.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mod.js' %}"></script>
</body>
</html>
